# Pandas codes

In [2]:
import numpy as np
import pandas as pd

In [3]:
pd.set_option('display.max_columns',85)
pd.set_option('display.max_rows',85)

### Creating Dictionaries and inserting many lists of values inside each key

In [5]:
people = {
    "first" : ["John","Alex","Tom"],
    "last" : ["Willy","Rider","Wagner"],
    "email" : ["john@gmail.com","alex@yahoo.com","tom@gmail.com"]
}
people

{'first': ['John', 'Alex', 'Tom'],
 'last': ['Willy', 'Rider', 'Wagner'],
 'email': ['john@gmail.com', 'alex@yahoo.com', 'tom@gmail.com']}

In [6]:
people['email'], people['first'], people['last']

(['john@gmail.com', 'alex@yahoo.com', 'tom@gmail.com'],
 ['John', 'Alex', 'Tom'],
 ['Willy', 'Rider', 'Wagner'])

In [11]:
for i in people.values():
    print(i)

['John', 'Alex', 'Tom']
['Willy', 'Rider', 'Wagner']
['john@gmail.com', 'alex@yahoo.com', 'tom@gmail.com']

### Consider the DataFrames as a dictionary of lists !
Where the list of arrays must have the same length across all the keys....

In [12]:
df = pd.DataFrame(people)
df

  first    last           email
0  John   Willy  john@gmail.com
1  Alex   Rider  alex@yahoo.com
2   Tom  Wagner   tom@gmail.com

In [13]:
df['email']

0    john@gmail.com
1    alex@yahoo.com
2     tom@gmail.com
Name: email, dtype: object

### Consider the Series as the rows of Data ! it contains a single column

Data Frame is a collection of multiple Series...

In [14]:
type(df['email'])

pandas.core.series.Series

In [15]:
df[['email','first']]

            email first
0  john@gmail.com  John
1  alex@yahoo.com  Alex
2   tom@gmail.com   Tom

In [16]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [19]:
df.iloc[[0,1], [2]]

            email
0  john@gmail.com
1  alex@yahoo.com

### iloc --- means search by integer location

In [20]:
df.iloc[[0,1]] # show the series with only one row of data

  first   last           email
0  John  Willy  john@gmail.com
1  Alex  Rider  alex@yahoo.com

In [21]:
df.iloc[[0,1], [2]] # (rows, columns)

            email
0  john@gmail.com
1  alex@yahoo.com

### loc ---- means search by the location

In [22]:
df

  first    last           email
0  John   Willy  john@gmail.com
1  Alex   Rider  alex@yahoo.com
2   Tom  Wagner   tom@gmail.com

In [23]:
df.loc[[0,1], ['email']] # Note we are passing string as 2nd argument for columns

            email
0  john@gmail.com
1  alex@yahoo.com