# zip() gives an iterator

- using zip function we can iterate through multiple iterables.
- it gives an iterable zip object we can use for or next on it

In [69]:
lst1 = ["Abhishek", "Maity", "John"]
lst2 = ['a', 'm', 'j']
lst3 = [1,2,3]

In [70]:
output = zip(lst1, lst2, lst3)
output

In [71]:
for i,j,k in output:
    print(i,j,k)

Abhishek a 1
Maity m 2
John j 3

In [51]:
next(output)

('Abhishek', 'a')

In [52]:
list(output)

[('Maity', 'm'), ('John', 'j')]

In [47]:
for i in output:
    print(i)

In [103]:
dict1 = {'name' : 'Abhishek', 'lstname' : 'maity', 'age' : 23}
dict2 = {'name' : 'Ria', 'lstname' : 'maity', 'age' : 21}

out = zip(dict1.items(), dict2.items())

In [104]:
dict1.items()

dict_items([('name', 'Abhishek'), ('lstname', 'maity'), ('age', 23)])

In [105]:
next(out)

(('name', 'Abhishek'), ('name', 'Ria'))

In [106]:
for (i,j),(i2,j2) in out:
    print(i,j)
    print(i2,j2)

lstname maity
lstname maity
age 23
age 21

In [146]:
dict1 = {'name' : 'Abhishek', 'lstname' : 'maity', 'age' : 23}
dict2 = {'name' : 'Ria', 'lstname' : 'maity', 'age' : 21}

ans = zip(dict1, dict2)

In [147]:
for i in ans:
    print(i)

('name', 'name')
('lstname', 'lstname')
('age', 'age')

In [133]:
for i,j in ans:
    print(i,j)

name name
lstname lstname
age age

In [120]:
a = ('adff', 'asdfas')
type(a)

tuple